name: test-initialize

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

jobs:
  initialize:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run CI init script
        shell: bash
        run: ./dotfiles/tests/ci-init.sh
